@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 274 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 121 64% 75%;
    --secondary-foreground: 0 0% 100%;

    --gray: 0 0% 13%;
    --gray-foreground: 0 0% 13%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 292 25% 95%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* Custom properties */
    --navigation-height: 3.5rem;
    --color-king-blue: #08297b;
    --color-orange: #ff9500;
    --color-pink: #b2387e;
    --color-black: #202020;
    --color-white: #ffffff;
    --color-gray: #eaeaea;

    /*
    --color-one: #37ecba;
    --color-two: #72afd3;
    --color-three: #ff2e63;
     */

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 0 0% 3.9%;
    --sidebar-primary: 274 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 292 25% 95%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 0 0% 3.9%;
  }

  .dark {
    --background: 240 5.9% 5%;
    --foreground: 0 0% 98%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 12.5%;
    --popover-foreground: 0 0% 98%;

    --primary: 274 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 121 64% 75%;
    --secondary-foreground: 0 0% 100%;

    --gray: 0 0% 12.5%;
    --gray-foreground: 0 0% 13%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 19%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 22%;
    --input: 0 0% 18%;
    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 0 0% 13%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 274 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 19%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }

  .fc .fc-col-header-cell-cushion {
    @apply p-5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
