@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 309 59% 100%;
    --foreground: 309 53% 1%;
    --muted: 279 14% 91%;
    --muted-foreground: 279 12% 32%;
    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 99%;
    --card-foreground: 0 0% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 309 93% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 279 93% 46%;
    --secondary-foreground: 0 0% 100%;
    --accent: 339 93% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 12 100% 33%;
    --destructive-foreground: 0 0% 100%;
    --ring: 309 93% 46%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 309 37% 4%;
    --foreground: 309 38% 100%;
    --muted: 279 14% 9%;
    --muted-foreground: 279 12% 68%;
    --popover: 309 37% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 309 37% 5%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 309 93% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 279 93% 46%;
    --secondary-foreground: 0 0% 100%;
    --accent: 339 93% 46%;
    --accent-foreground: 0 0% 100%;
    --destructive: 12 100% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 309 93% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
